.part1{
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	background: linear-gradient(247deg, #ABC5F3 0%, #C2DEF4 55%, #D5F2F4 100%);
	opacity: 1;
}
.navigation{
	width:100%;
	position: fixed;
	display: flex;
	top: 0;
	z-index: 50;
	transition-duration: 300ms;
}
.s-logo1{
	flex: none;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 56px;	
}
.logo1{
	width: 144px;
	height: 44px;
}
.trans-area{
	flex: 1 1 0%;
}
.nav-functions{
	display:none;
	flex:none;
	flex-direction: row;
	flex-wrap:nowrap;
	max-width: 1280px;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 56px;
	margin-right: 56px;
	font-size: 20px;
	line-height: 28px;
	font-weight: 500;
	@media (min-width: 768px) {display:flex};
}
.main{
	padding-right: 12px;
}
.main:hover{
	color: rgb(96 165 250);
}
.function{
	margin-left: 24px;
	padding-right: 12px;
}
.function:hover{
	color:rgb(96 165 250);
}
.team{
	margin-left: 24px;
	padding-right: 12px;
}
.team:hover{
	color:rgb(96 165 250);
}
.divide{
	margin-left: 24px;
}
.sign{
	margin-left: 24px;
}
.sign:hover{
	color:rgb(96 165 250);
}
.login{
	padding-left: 16px;
	padding-right: 16px;
	margin-left: 24px;
	border: 2px solid #313131;
	border-radius: 104px;
}
.login:hover{
	color:rgb(96 165 250);
}
.padding-area{
	flex: 1 1 0%;
	@media (min-width: 768px) {display:none};
}
.menu{
	font-size: 36px;
	line-height: 40px;
	margin-top: 16px;
	position:absolute;
	right: 16px;
}
.menu:hover{
	color:rgb(96 165 250);
}
.title{
	position:absolute;
	display: flex;
	flex-direction: row;
	max-width: 1280px;
	margin-top: 60px;
	margin-bottom: 160px;
}
.logo2{
	flex:none;
	padding-top: 240px;
}
.text-LUNA{
	padding-top: 264px;
	margin-bottom: 10px;
	margin-right: 12px;
	margin-left: 12px;
}
.team-name{
	font-size: 48px;
	line-height: 1;
	font-weight: 500;
	padding-right: 20px;
	padding-left: 20px;
}
.product-name{
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	text-align: center;
	padding-top: 24px;
	max-width: 760px;
}
.search-area{
	position:absolute;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.12);
	max-width: 1280px;
	border-width: 2px;
	border-radius: 32px;
	width: auto;
	height: 64px;
	margin-left: 60px;
	margin-right: 60px;
	background: white;
	align-items: center;
	bottom: -32px;
	@media (min-width: 768px) {width: 640px; margin-left: 0; margin-right:0;}
}
.el-icon-search{
	font-size: 20px;
	line-height: 28px;
	margin-left: 20px;
	padding-right: 12px;
}
.search-frame{
	flex:none;
	text-align: left;
	width: 440px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	outline: 2px solid transparent;
	outline-offset: 2px;
}